## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["NAME", "EIN"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_count = application_df['APPLICATION_TYPE'].value_counts()
application_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_count[application_count<500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_cnt = application_df["CLASSIFICATION"].value_counts()
classification_cnt

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_cnt[classification_cnt>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_cnt[classification_cnt<500].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
y = dummies_df["IS_SUCCESSFUL"].values
X = dummies_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-13-3ac8591153b2>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = dummies_df.drop(["IS_SUCCESSFUL"],1).values

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 70
hidden_nodes_layer3 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 100)               4500

 dense_8 (Dense)             (None, 70)                7070

 dense_9 (Dense)             (None, 40)                2840

 dense_10 (Dense)            (None, 1)                 41

=================================================================
Total params: 14,451
Trainable params: 14,451
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7417
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7420
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7415
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5319 - accuracy: 0.7415
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7414
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7421
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7416
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7421
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7425
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7421
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7417
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7416
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7420
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7420
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7419
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7424
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7418
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7421
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7416
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7414
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7422
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7423
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7418
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7421
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7424
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7423
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7421
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7420
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7428
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7424
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7428
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5312 - accuracy: 0.7423
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7420
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7421
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7423
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7423
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7422
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7417
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7425
Epoch 42/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5313 - accuracy: 0.7422
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7423
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7420
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7422
Epoch 46/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5310 - accuracy: 0.7425
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7426
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7422
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7421
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7424

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5823 - accuracy: 0.7255 - 490ms/epoch - 2ms/step
Loss: 0.5822722315788269, Accuracy: 0.7254810333251953

In [31]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 70
hidden_nodes_layer3 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 100)               4500

 dense_12 (Dense)            (None, 70)                7070

 dense_13 (Dense)            (None, 50)                3550

 dense_14 (Dense)            (None, 1)                 51

=================================================================
Total params: 15,171
Trainable params: 15,171
Non-trainable params: 0
_________________________________________________________________
Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5669 - accuracy: 0.7217
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7298
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7329
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7326
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7320
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7336
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7351
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7353
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7348
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7353
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7361
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7369
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7363
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7371
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7372
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7379
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7385
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7382
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7380
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7376
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7372
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7386
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7384
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7393
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7394
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7388
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7387
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7386
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7390
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7393
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7394
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7391
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7393
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7388
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7402
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7400
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7400
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7400
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7402
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7400
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7400
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7406
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7409
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7403
268/268 - 0s - loss: 0.5560 - accuracy: 0.7247 - 456ms/epoch - 2ms/step
Loss: 0.5560070872306824, Accuracy: 0.7246647477149963

In [34]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 160
hidden_nodes_layer2 = 70
hidden_nodes_layer3 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_23 (Dense)            (None, 160)               7200

 dense_24 (Dense)            (None, 70)                11270

 dense_25 (Dense)            (None, 60)                4260

 dense_26 (Dense)            (None, 1)                 61

=================================================================
Total params: 22,791
Trainable params: 22,791
Non-trainable params: 0
_________________________________________________________________
Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5889 - accuracy: 0.7111
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5684 - accuracy: 0.7248
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5620 - accuracy: 0.7282
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5591 - accuracy: 0.7294
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7283
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7302
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7305
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7310
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7321
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7334
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7327
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7318
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7326
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7329
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7325
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7338
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7332
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7337
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7329
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7338
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7345
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7347
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7354
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7351
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7352
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7362
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5433 - accuracy: 0.7360
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7373
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7365
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7373
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7370
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7378
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7372
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7378
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7365
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7382
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7383
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7382
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7387
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7387
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7380
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7379
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7374
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7381
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7381
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7390
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7384
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7399
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7392
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7396
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7396
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7390
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7406
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7388
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7395
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7390
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7406
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7401
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7396
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7391
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7392
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7402
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7407
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7402
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7399
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7408
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7403
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7419
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7410
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7400
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7422
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7412
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7415
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7414
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7414
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7403
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7410
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7408
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7420
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7413
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7415
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5318 - accuracy: 0.7410
268/268 - 38s - loss: 0.5654 - accuracy: 0.7266 - 38s/epoch - 141ms/step
Loss: 0.5653774738311768, Accuracy: 0.7266472578048706

In [36]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")